.insert{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem;
}

.list-input{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    border-style: none;
    outline: none;
    text-align: center;
    background-color: rgba($color: #ffffff, $alpha: 0);
    text-transform: uppercase;
}

.list-input-inlist{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    border-style: none;
    outline: none;
    text-align: left;
    background-color: rgba($color: #ffffff, $alpha: 0);
    text-transform: uppercase;
    margin-right: 1.25rem;
    margin-left: .3125rem;
}

.list-input::placeholder{
    opacity: 20%;
}

.list-ul{
    margin-top: 1.5625rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list-li{
    display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
    list-style: none;
    background-color: rgb(255, 230, 161);
    letter-spacing: .0625rem;
    width: 100%;
}

#actions{
    margin-left: .625rem;
}

.qt-badge{
    font-weight: 700;
    position: relative;
    // font-size: small;
}

.qt-actions{
    background-color: rgb(255, 255, 255);
    width: .9375rem;
    height: .9375rem;
    border: .0625rem solid #000000;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    font-size: small;
    cursor: pointer;
    margin: .1875rem;
}

.generic-actions{
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: .9375rem;
    border: .0625rem solid #000000;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    font-size: small;
    cursor: pointer;
    margin: .1875rem;
    padding: 1rem;
}

.footer-actions-wrapper{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.actions-visible{
    display: block;
}

.actions-not-visible{
    display: none;
}

.action{
    margin-left: .625rem;
}