<div class="insert">
    <form>
        <input class="list-input" type="text" name="item" placeholder="write, enter, boom" autocomplete="off" autofocus
            [(ngModel)]="insElement" (keydown.enter)="save($event)" size=50>
    </form>
</div>
<ul class="list-ul">
    <li class="list-li" *ngFor="let item of list.getList(); index as i">
        <span class="qt-badge">{{item.getQt()}}</span>
        <!-- <input (blur)="edit($event, i)" class="list-input-inlist" value={{item.getName()}} size={{(item.getName().length)+5}}> -->
        <span class="list-input-inlist">{{item.getName()}}</span>
        <button class="qt-actions" (click)="onQtAddClick(i)">+</button>
        <button class="qt-actions" (click)="onQtCutClick(i)">-</button>
        <button class="qt-actions" (click)="onQtDelClick(i)">x</button>
    </li>
</ul>
<div class="footer-actions-wrapper">
    <button class="generic-actions">Erase List</button>
    <button class="generic-actions" (click)="onDisplayToggle()">{{helpButtonLabel}}</button>
</div>
<app-helper [hidden]="displayToggle"></app-helper>